<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Item Catalog</title>
    <!-- Mobile-friendly viewport -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <body>
    <header>
      <h1><a href="{{url_for('showCatalog')}}">Catalog</a></h1>
    </header>
    <div class="flash">
      {% block flash %}
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class="flash">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
      {% endblock %}
      <ul>
        <li>Test flash message</li>
      </ul>
    </div>
    <main>
      {% block main %}
      {% endblock %}
    </main>
  </body>
</html>
