{% extends "base.html" %}

{% block main %}
  <div class="row">

    <div class="categories">
      <h2>Categories</h2>
      <h3>
        <a href="{{url_for('newCategory')}}"><i class="fa fa-plus" aria-hidden="true"></i> New Category</a>
      </h3>
      <ul>
        {% for cat in categories %}
          <li>
            <a href="{{url_for('showCategory', category_name=cat.name)}}">{{cat.name}}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="items">
      <h2>All Items</h2>
      <h3>
        <a href="{{url_for('newItem')}}"><i class="fa fa-plus" aria-hidden="true"></i> New Item</a>
      </h3>
      <ul>
        {% for item in items %}
          <li><a href="{{url_for('showItem', category_name=item.category.name, item_name=item.name)}}">{{item.name}} | {{item.category.name}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
