{% extends "base.html" %}

{% block main %}
  <div class="row">
    <div class="categories">
      <h2>{{category.name}}
        <a href="{{url_for('editCategory', category_name=category.name)}}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
        <a href="{{url_for('deleteCategory', category_name=category.name)}}"><i class="fa fa-trash" aria-hidden="true"></i></a>
      </h2>
      <p>{{category.description}}

      </p>
    </div>
    <div class="items">
      <h2>Items</h2>
      <h3>
        <a href="{{url_for('newItem')}}"><i class="fa fa-plus" aria-hidden="true"></i> New Item</a>
      </h3>
      <h4>{{ items|length }} items</h4>
      <ul>
        {% for item in items %}
          <li><a href="{{url_for('showItem', category_name=item.category.name, item_name=item.name)}}">{{item.name}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
