{% extends "base.html" %}

{% block main %}
  <div class="row">
    <h2>
      {{item.name}}
      {% if user_id == item.user_id %}
        <a href="{{url_for('editItem', category_name=category.name, item_name=item.name)}}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
        <a href="{{url_for('deleteItem', category_name=category.name, item_name=item.name)}}"><i class="fa fa-trash" aria-hidden="true"></i></a>
      {% endif %}
    </h2>
    <h3>{{category.name}}</h3>
    <p>
      {{ item.description }}
    </p>
    <p><b>quantity:</b> {{ item.quantity }}</p>
  </div>
{% endblock %}
